<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='sidebar'>
    <div id='logo'>
      <%= link_to root_path do %>
        <%= image_tag '33457.gif', :class => 'logo_image' %>
      <% end %>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <ul>
      <li class='category'>Website</li>
      <li><%= link_to 'Blog', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
    <ul>
      <li class='category'>Social</li>
      <li class='category'>
        <a href='https://bitbucket.org/uncarvedblock'>Bitbucket</a>
      </li>
      <li class='category'>
        <a href='https://twitter.com/lambdaburger'>Twitter</a>
      </li>
      <li class='category'>
        <a href='https://dribbble.com/uncarvedblock'>Dribbble</a>
      </li>
    </ul>
    <% if !user_signed_in? %>
      <p class="sign_in">Admin login</p>
    <% end %>
  </div>
  <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
        <p>All posts</p>
      <% elsif current_page?(about_path) %>
        <p>About</p>
      <% else %>
        <%= link_to 'Back to all posts', root_path %>
      <% end %>
      <% if user_signed_in? %>
        <div class="buttons">
          <button class="button"><%= link_to 'New post', new_post_path %></button>
          <button class="button">Log out</button>
        </div>
      <% end %>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: 'alert') %>
    <% end %>
    <%= yield %>
  </div>


</body>
</html>
